<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Screen Squad Syndicate</title>
</head>
<body>
  <div class="container">
    <div th:replace= "fragment/header :: header(home)"></div>
    <h1>Recent Release</h1>
      <img src="/img/Capt.jpg" width="220" height = "200">
    <h1>Chart</h1>
      <img src="/img/Sci-fi-movies.jpg" width="220">
    <h1>Top 10 Streaming</h1>
      <img src="/img/Guadian.jpg" width="220">
    <h1>Pick of the week</h1>
      <img src="/img/mermaid.jpg" width="220" height = "200">
  </div>
  <div th:replace = "fragment/header :: script"></div>
</body>
</html>