<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Movie list</title>
</head>
<body>
  <div class="container">
    <div th:replace= "~{fragment/header :: header(movie)}"></div>
    <div class=" table-responsive mt-3">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Release Date</th>
            <th scope="col">Review</th>
            <th scope="col">#</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each = "movie : ${movies}">
            <th scope="row" th:text="${movie.idMovie}"></th>
            <td th:text = "${movie.title}"></td>
            <td th:text = "${movie.description}"></td>
            <td th:text = "${#dates.format(movie.releaseDate, 'dd-MM-yyyy')}"></td>
            <td><a>Review</a></td>
            <td><a th:href="@{/updatemovie/} + ${movie.idMovie}">Update</a></td>
            <td><a th:href="@{/deletemovie/} + ${movie.idMovie}">Delete</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div th:replace = "~{fragment/header :: scripts}"></div>
</body>
</html>